{% extends 'base.html.twig' %}

{% block body %}
    <div id = "root" class="container">
        <img src="{{ asset('images/apple-touch-icon.png') }}" alt="missing image"/>
        <a href="{{ path('search_location') }}">Location Search</a>
    </div>
{% endblock %}


