{% extends 'base.html.twig' %}

{% block body %}
    <div id = "root" class="container">
        {% for item in main_menu2.getItems() %}
            <img src="{{ asset('images/favicon.ico') }}" alt="missing image"/>
            <a href="{{ path(item.path) }}">{{ item.label }}</a>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <br/>
                <h2 class="d-block p-3 bg-secondary text-white">Main Page</h2>
            </div>
        </div>    
    </div>
{% endblock %}


